@import '../../../../assets/colors';
span {
    padding: 2%;
}

body {
    overflow: hidden;
    width: 100%;
}

.btn-outline-pink {
    color: $pink;
    border-color: $pink;
    &:hover {
        color: $white;
        background-color: $pink;
    }
}

.btn-outline-primary {
    color: $white;
    background-color: $pink;
    border: $pink;
}

.progress-bar {
    background-color: $pink;
}