<!--  <button type="button" (click)="studentPopUp()" (mouseover)="selectStudent()" class="student"> </button>
ngIf para colores front-end, back-end, net (clases) -->

<ng-template #tooltipTemplate>
    <div class="tooltip-color">{{ student.name }} {{ student.lastname }}</div>
</ng-template>


<div class="student-container">

    <button *ngIf="student.itinerary == 'Front End'" type="button" class="student front-end" [tooltip]="tooltipTemplate" placement="top">

      <circle-progress class="circle-bar"
      [percent]= student.timeInAcademy
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#D50283'"
      [innerStrokeColor]="'#fcdef1'"
      [space]="-5"
      [animation]="true"
      [animationDuration]="300"
      [showTitle]="false"
      [showSubtitle]="false"
      [showUnits]="false"
      [backgroundColor]="'#D50283'"
      [backgroundOpacity]="'0.8'"
      [backgroundPadding]="'-8'"
      [backgroundStroke]="'#D50283'"
    ></circle-progress>
    </button>

    <button *ngIf="student.itinerary == 'Back End'" type="button" class="student back-end" [tooltip]="tooltipTemplate" placement="top">
      <circle-progress class="circle-bar"
      [percent]= student.timeInAcademy
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#005F87'"
      [innerStrokeColor]="'#d3ebf5'"
      [space]="-5"
      [animation]="true"
      [animationDuration]="300"
      [showTitle]="false"
      [showSubtitle]="false"
      [showUnits]="false"
      [backgroundColor]="'#005F87'"
      [backgroundOpacity]="'0.8'"
      [backgroundPadding]="'-8'"
      [backgroundStroke]="'#005F87'"
    ></circle-progress>

    </button>
    <button *ngIf="student.itinerary == '.Net'" type="button" class="student net" [tooltip]="tooltipTemplate" placement="top">
      <circle-progress class="circle-bar"
      [percent]= student.timeInAcademy
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#212121'"
      [innerStrokeColor]="'#E8E8E8'"
      [space]="-5"
      [animation]="true"
      [animationDuration]="300"
      [showTitle]="false"
      [showSubtitle]="false"
      [showUnits]="false"
      [backgroundColor]="'#212121'"
      [backgroundOpacity]="'0.8'"
      [backgroundPadding]="'-8'"
      [backgroundStroke]="'#212121'"
    ></circle-progress>

    </button>
    <button *ngIf="student.itinerary == ''" type="button" class="student empty">

    </button>
</div>


<!--modal-->
<ng-template #template>
    <div class="modal-header">
        <h1 class="modal-title pull-left">Alumno</h1>
        <button type="button" class="close pull-right buttonX" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h2 class="mt-1 mb-3">{{selectedStudent.name | uppercase}}</h2>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
                Front-End
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
                Back-End
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
                .Net
            </label>
        </div>
        <div class="form-check disabled mb-2">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4" disabled>
            <label class="form-check-label" for="exampleRadios4">
                Android
            </label>
        </div>
        <button type="button" class="btn button-modal ml-1 mr-2 mt-3" (click)="confirm(); modalRef.hide()">Guardar</button>
        <button type="button" class="btn button-modal ml-1 mr-2 mt-3" (click)="decline(); modalRef.hide()">Cancelar</button>
        <button type="button" class="btn button-modal ml-1 mt-3">Ir a perfil</button>
    </div>
</ng-template>
